@font-face{
    font-family: 'SF Pro';
    src: url('./SF-Pro-Text-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'SF Pro';
    src: url('./SF-Pro-Text-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}